@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5" style="height:420px">
    <h1 class="display-4">Welcome</h1>
    <p>Admin Portal</p>
</div>
@* 
<a href="/Identity/User">User</a>
<a href="/Identity/admin">admin</a> *@